<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sebastian.smb_broadcast_receiver">
    <uses-permission android:name="com.example.sebastian.smb_broadcaster.BROADCASTING_ACTIVITY"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".SMBBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.sebastian.smb_broadcaster.MY_SUPER_NOTIFICATION" />
            </intent-filter>
        </receiver>

        <service
            android:name=".NotifyService"
            android:exported="false" />

        <activity
            android:name=".ActionForNotificationActivity"
            android:label="@string/title_activity_action_for_notification"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>